#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cargo build --release --bin packet-browser-client

override_dh_auto_install:
	install -D -m 0755 target/release/packet-browser-client \
		debian/packet-browser-client/usr/bin/packet-browser-client
	install -D -m 0644 client/config.example.ini \
		debian/packet-browser-client/etc/packet-browser/config.ini.example
	install -D -m 0644 packaging/systemd/packet-browser-client.service \
		debian/packet-browser-client/lib/systemd/system/packet-browser-client.service
